:root {
    --purple-dark: #2d1b4d;
    --bg-color: #f0f2f5;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

header {
    background: var(--purple-dark);
    padding: 1.2rem 0;
    color: white;
}

.header-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.card {
    background: #ffffff;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border: 1px solid #e2e8f0;
    margin: 2rem auto;
    max-width: 1000px;
    width: 95%;
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 1rem;
    background: var(--purple-dark);
    color: #b794f4;
    font-size: 0.8rem;
    margin-top: auto; /* Luôn nằm dưới cùng */
}
